<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<app-navbar></app-navbar>

<div id="more"></div>

<div class="wiki">
    <a class="headline">📜Mods Documentation</a>
    <div class="main2_features_div">
        <div class="main2_feature">
            <img class="main2_feature_img" alt="Feature Image" src="media/mods/AmLogo.png">
            <a class="main2_feature_headline">AM - RPG Mobs Leveling System</a>
            <a class="main2_feature_text">Every mob has the potential to grow stronger, smarter, and more dangerous as they gain levels</a>
            <div class="buttons">
                <a target="_blank" href="https://www.curseforge.com/minecraft/mc-mods/ascendant-mobs" class="feature-btn btn-curseforge">
                    <i class="fas fa-cloud-download-alt"></i> Download CurseForge
                </a>
                <a target="_blank" href="https://modrinth.com/mod/ascendant-mobs" class="feature-btn btn-modrinth">
                    <i class="fas fa-cloud-download-alt"></i> Download Modrinth
                </a>
                <a target="_blank" href="https://drive.google.com/file/d/1Gwdd55CVVIQw-p7AmKBkxG65qQOov7xX/view?usp=drive_link" class="feature-btn btn-documentation">
                    <i class="fas fa-book"></i> Documentation
                </a>
            </div>
        </div>

        <div class="main2_feature">
            <img class="main2_feature_img" alt="Feature Image" src="media/mods/motplogo.png">
            <a class="main2_feature_headline">MOTP - RPG Player Leveling System</a>
            <a class="main2_feature_text">To create a unique leveling system in Minecraft</a>
            <div class="buttons">
                <a target="_blank" href="https://www.curseforge.com/minecraft/mc-mods/memories-of-the-past" class="feature-btn btn-curseforge">
                    <i class="fas fa-cloud-download-alt"></i> Download CurseForge
                </a>
                <a target="_blank" href="https://modrinth.com/mod/memories-of-the-past" class="feature-btn btn-modrinth">
                    <i class="fas fa-cloud-download-alt"></i> Download Modrinth
                </a>
                <a target="_blank" href="https://drive.google.com/file/d/1gYa6acks92jkdI2qrdhr1p-c2Qo4EKs7/view?usp=sharing" class="feature-btn btn-documentation">
                    <i class="fas fa-book"></i> Documentation
                </a>
            </div>
        </div>

        <div class="main2_feature">
            <img class="main2_feature_img" alt="Feature Image" src="media/mods/lootbagslogo.jpg">
            <a class="main2_feature_headline">Mob Loot Bags</a>
            <a class="main2_feature_text">With each mob you defeat, you have a chance to receive a loot bag containing valuable rewards</a>
            <div class="buttons">
                <a target="_blank" href="https://www.curseforge.com/minecraft/mc-mods/mob-loot-bags" class="feature-btn btn-curseforge">
                    <i class="fas fa-cloud-download-alt"></i> Download CurseForge
                </a>
                <a target="_blank" href="https://modrinth.com/mod/mob-loot-bags" class="feature-btn btn-modrinth">
                    <i class="fas fa-cloud-download-alt"></i> Download Modrinth
                </a>
                <!-- <a href="https://example.com/finetuned-weaponry-docs" [ngStyle]="{pointerEvents: 'none'}" class="feature-btn btn-documentation">
                    <i class="fas fa-book"></i> Documentation
                </a> -->
            </div>
        </div>

        <div class="main2_feature">
            <img class="main2_feature_img" alt="Feature Image" src="media/mods/FineTunedIcon.png">
            <a class="main2_feature_headline">Finetuned Weaponry</a>
            <a class="main2_feature_text">Minecraft mod that brings unparalleled depth to combat! Whether you’re a casual adventurer or a seasoned warrior</a>
            <div class="buttons">
                <a target="_blank" href="https://www.curseforge.com/minecraft/mc-mods/fine-tunned-weaponry" class="feature-btn btn-curseforge">
                    <i class="fas fa-cloud-download-alt"></i> Download CurseForge
                </a>
                <a target="_blank" href="https://modrinth.com/mod/fine-tunned-weaponry" class="feature-btn btn-modrinth">
                    <i class="fas fa-cloud-download-alt"></i> Download Modrinth
                </a>
                <!-- <a href="https://example.co    m/finetuned-weaponry-docs" [ngStyle]="{pointerEvents: 'none'}" class="feature-btn btn-documentation">
                    <i class="fas fa-book"></i> Documentation
                </a> -->
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
